
.platform {
    background-color: darkseagreen;
    border-radius: 1em;
}

.block-container {
    width: 100%;
    height: 100%;
}
.block-row {
    width: 100%;
    height: 100%;
}
.block {
    background-color: blue;
    position: fixed;
}

.ball {
    background-color: sandybrown;
    position: fixed;
    border-radius: 1em;
}
